main .dropdown-menu {
  margin-top: 66px;
  &__items {
    max-width: 385px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    &-init {
      position: absolute;
      width: 203px;
      height: auto;
      padding: 10px 0;
      background: white;
      list-style: none;
      border-radius: 0 0 0.25rem 0.25rem;
      display: none;
      // box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.3), 0 4px 5px 0 rgb(0, 0, 0, 0.4);
    }
  }
  &__item {
    padding: 0 25px;
    margin: 15px 0;
    position: relative;
    &-init {
      font-size: 1rem;
      line-height: 1.5rem;
      padding: 0 20px;
      background: transparent;
      &:hover {
        background: #f8f9fa;
      }
    }
    &:hover,
    &.active {
      .dropdown-menu__btn {
        border-color: $tmdbLightBlue;
      }
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    font-size: 1rem;
    border: none;
    background: transparent;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    .fas {
      font-size: 0.9rem;
      line-height: 1rem;
      transform: translateY(-3px);
      margin-left: 5px;
    }
  }
}

main .section-movies {
  height: 510px;
  padding: 30px 0;
  background: url("../../img/singlPage-bg.jpg") no-repeat center center / cover;
  > .container {
    height: 100%;
    > .row {
      height: 100%;
      .col-lg-4 {
        height: 100%;
      }
    }
  }
  &-img {
    width: 100%;
    height: 100%;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-info {
    &-title {
      h2 {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        font-size: 2.2rem;
        font-weight: 600;
        a,
        span {
          color: $tmdbWhite;
        }
        span {
          margin-left: 5px;
          font-weight: 400;
          opacity: 0.8;
        }
        a {
          opacity: 1;
          transition: all 200ms ease-in-out;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      ul {
        display: flex;
        list-style: none;
        li {
          display: flex;
          align-items: center;
          &:first-of-type {
            span {
              display: block;
              margin-right: 7px;
              padding: 4px;
              font-size: 1rem;
              line-height: 1rem;
              color: $tmdbWhite;
              border: 1px solid $tmdbWhite;
              border-radius: 4px;
              opacity: 0.7;
            }
          }
          a {
            font-size: 1.1rem;
            line-height: 1.1rem;
            color: $tmdbWhite;
          }
          &:last-of-type {
            span {
              font-size: 1.1rem;
              line-height: 1.1rem;
              color: $tmdbWhite;
              display: flex;
              align-items: center;
              margin-left: 6px;
              &::before {
                content: "";
                display: block;
                width: 5px;
                height: 5px;
                background: $tmdbWhite;
                border-radius: 50%;
                margin-right: 6px;
              }
            }
          }
        }
      }
    }
    &-basic {
      display: flex;
      margin-top: 25px;
      li {
        display: flex;
        align-items: center;
        .ant-progress {
          span {
            font-size: 1.3rem;
            color: $tmdbWhite;
            font-weight: 700;
          }
        }
        span {
          font-size: 1rem;
          line-height: 1.2rem;
          font-weight: 700;
          color: $tmdbWhite;
          margin-left: 7px;
        }
        a {
          width: 46px;
          height: 46px;
          background: $tmdbDarkBlue;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          .fa,
          .fas {
            font-size: 0.8rem;
            color: $tmdbWhite;
          }
        }
        margin-right: 20px;
      }
    }
    &-texts {
      .tagline {
        margin-bottom: 0;
        font-size: 1.1em;
        font-weight: 400;
        font-style: italic;
        color: $tmdbWhite;
        opacity: 0.7;
      }
      .overview {
        h3 {
          font-weight: 600;
          font-size: 1.3rem;
          color: $tmdbWhite;
        }
        p {
          font-size: 1rem;
          color: $tmdbWhite;
        }
        .people {
          list-style: none;
          li {
            p {
              margin: 0;
              a {
                font-size: 1rem;
                color: $tmdbWhite;
                font-weight: 600;
                opacity: 1;
                &:hover {
                  opacity: 0.8;
                }
              }
            }
            .character {
              font-size: 0.9rem;
              color: $tmdbWhite;
            }
          }
        }
      }
    }
  }
}
